.price-checker {
  .container {
    width: 60%;
    padding-top: 2.2rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
    border: 5em;
    border-radius: 15px;
    margin: auto;
    .cta {
      // width: 100%;
      .main-cta {
        display: flex;
        // gap: 1em;

        label {
          p {
            margin-left: 0.2rem;
            color: #3d3d3d;
            font-size: 0.9em;
            font-weight: lighter;
          }
          display: flex;
          flex-direction: column;
          flex: 1;
          .text-input {
            background-color: #f3f3f3;
            border: 1px solid gray;
            border-radius: 1em;
            height: 1.7rem;
            width: 80%;
            padding-left: 15px;
            font-size: 0.9rem;
          }
        }
      }
      .confirm-cta {
        margin: 1rem auto;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        margin-top: 2rem;
        .btn-primary {
          text-decoration: none;
          margin-right: 2rem;
          box-sizing: border-box;
          color: #fff;
          background-color: #197266;
          width: 5.8rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1.5rem;
          box-shadow: 0px 0px 5px 0px #707070;
        }
        .btn-secondary {
          text-decoration: none;
          border-radius: 1.5rem;
          width: 6.5rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          color: white;
          //color: #197266;
          background-color: #1baa97;
          //border: 3px #197266 solid;
          outline: none;
          box-shadow: 0px 0px 5px 0px #707070;
        }
        .btn-primary:hover, .btn-secondary:hover {
          background-color: #707070;
          transition: all ease 0.7S;
        }
      }
    }
  }
}
