.driver {
  // position: relative;
  // background: url(../../img/picture/driver-big-bg.png);
  // background-size: cover;
  // background: url(../../img/picture/driver-bg.png);
  background: linear-gradient(
    180deg,
    rgba(218,238,175, 2) 0%,
    rgba(92,101,144, 1) 100%
  );

  size: 100vh;
  .front-bg {
    // position: absolute;
    // justify-self: center;
    text-align: center;
    background-size: cover;
    padding: 3rem 4.5rem;
    padding-bottom: 5rem;
    .text {
      font-size: 1.5rem;
      h1 {
        padding-top: 0.5rem;
        text-align: center;
      }
      h2 {
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 2.5em;
      }
    }
    .container {
      margin: 0rem 5rem;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      column-gap: 2rem;
      .person {
        flex: 1fr;
      }
    }
  }
}
