@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: sukhumvit;
  src: url(../../../font/SukhumvitSet-Medium.ttf);
}
.res2 {
  // container setting-------------------------------------
  .container {
    width: 45rem;
    height: 28rem;
    margin: 5rem auto;
    padding: 1.5rem;
    border: 1px solid rgb(128, 128, 128);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    position: relative;

    // General setting----------------------------------------
    h1 {
      font-size: 2rem;
      font-family: "Epilogue";
      color: #565656;
    }
    label {
      font-family: "sukhumvit";
      font-size: 12px;
      display: block;
      margin-top: 1rem;
    }
    //Some witchcraft
    form {
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      // local setting
      .name-input {
        display: inline-flex;
        column-gap: 4rem;
      }

      input {
        margin-top: 0.4rem;
        display: block;
        border: 0px;
        color: #1b1b1b;
        border-bottom: solid black 1px;
        font-size: 12px;
        color: gray;
        width: 15em;
        text-indent: 0.5em;
      }

      textarea {
        font-family: sukhumvit;
        margin: 1.9vh 0 0 1.9vh;
        display: block;
        height: 6rem;
        width: 30rem;
        padding: 0.7rem 1rem 0.7rem 1rem;
        resize: none;
        border-radius: 14px;
      }

      .btn-container {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 2rem;
        .btn {
          margin-top: 2rem;
          font-size: 0.8rem;
          border-radius: 4em;
          color: white;
          padding: 0.5em 1.5em;
          text-decoration: none;
        }
        .back-cta {
          margin-left: 5rem;
          background-color: #fe4600;
          box-shadow: 0.1px 5px 15px 0px #ff936a;
        }
        .confirm-cta {
          background-color: #4fd601;
          box-shadow: 0.1px 5px 15px 0px #7cfa34;
        }
      }
    }
  }
}

// .numberpass {
//         display: inline-block;
//         padding: 0.5rem 0.4rem 0.5rem 0.4rem;
//         width: 4em;
//         border: 0px;
//         color: #1b1b1b;
//         border: 1.25px solid #6e6e6e;
//         font-size: 0.8rem;
//         border-radius: 7px;
//         transform: all 0.2s ease-in-out;
//         &:hover {
//           background-color: rgb(250, 253, 255);
//         }
//         &:active {
//           background-color: rgb(204, 204, 204);
//           border-bottom: 1.25px solid #186edf;
//           outline: none;
//         }
//       }
//  .subtext {
//         display: inline-block;
//         font-family: sukhumvit;
//         font-size: 1rem;
//         color: #505050;
//         font-weight: 300;
//         vertical-align: bottom;
//       }

// &:hover {
//   background-color: rgb(250, 253, 255);
// }
// &:focus {
//   background-color: rgb(243, 243, 243);
//   border: 1.5px solid #186edf;
//   border-radius: 5px;
// }

// &:hover {
//   background-color: #2e3592;
// }
// &:active {
//   background-color: #172d69;
// }
