$flexSize: 15em;
$boxSpacing: 1.8em;
$colorText: #404646;
#history {
  background-image: url(../../../img//picture/history-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;

  .container {
    background-color: white;
    width: 60%;
    height: 32rem;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 3rem;
    padding-top: 3rem;
    border-radius: 3.5rem;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    .history-card {
      margin: auto;
    }
    .head-cta {
      position: absolute;
      top: -4rem;
      left: 0;
      display: flex;
      transform: translateZ(-1px);
      .reservation-cta {
        padding: 1.5rem 4rem;
        padding-bottom: 10rem;
        background-color: #4074a4;
        border-radius: 2rem 0rem 0rem 0rem;
        z-index: 1;
        font-size: large;
        a {
          font-weight: lighter;
          text-decoration: none;
          color: white;
        }
      }
      .history-cta {
        font-weight: bold;
        padding: 1.5rem 4rem;
        padding-left: 5rem;
        background-color: white;
        border-radius: 2rem 2rem 0rem 0rem;
        z-index: 2;
        position: relative;
        right: 2rem;
        font-size: large;
      }
    }
  }
}
