.containerr {
    z-index: 4;
    position: fixed;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    background-color: white;
    width: 840px;
    height: 450px;
    border-radius: 40px;
    box-shadow: 0px 0px 15px #C1C1C1;
    display: flex;
    flex-direction: row;

    input::-webkit-input-placeholder {
        font-size: 0.9rem;
        font-weight: 500;
        color: #C1C1C1;
    }
    
    input {
        font-size: 0.9rem;
        color: #484848;
        height: fit-content;
    }

    .inputBox {
        display: flex;
        flex-direction: row;
    }
    
    input:focus {
        outline: none;
    }
    .afterB74 {
        padding-left: 50px;
    }

    .login {
        margin: 10px;
        width: 481.67px;
        height: 430px;
        display: flex;
        flex-direction: column;
    }
    
    .image {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        height: 450px;
    }
    
    .B74 {
        font-weight: 650;
        align-self: center;
        font-size: 2.5rem;
        color: #707070;
    }
    
    .topic {
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 500;
        color: #707070;
    }
    
    .line {
        padding: 2px;
        width: 350px;
        border-bottom: 1px solid #a3a2a2;
    }
    
    .forgetPassword {
        font-size: 0.85rem;
        margin-top: 5px;
        width: 350px;
        display: flex;
        justify-content: center;
        transition-duration: 0.3s;
    }
    
    .borderless {
        width: 300px;
        padding-left: 10px;
        border: none;
    }

    .emailIcon {
        display: flex;
        flex-direction: column;
        padding-left: 7px;
        margin-top: 3px;
        width: 24.1px;
        height: 13.68px;
    }
    
    .passwordIcon {
        padding-left: 7px;
        margin-top: 1px;
        display: flex;
        flex-direction: column;
        width: 20.98px;
        height: 14.23px;
    }

    .buttonLevel {
        display: flex;
        flex-direction: row;
        width: 350px;
        padding-top: 55px;
        justify-content: center;
    }
    
    .loginButton {
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        background-color: #23A2C5;
        color: white;
        width: 85px;
        text-align: center;
        display: inline-block;
        border-radius: 100px; 
        box-shadow: 0px 2px 5px #707070;
        font-size: 15px;
        transition-duration: 0.3s;
    }

    .loginButton:hover{
        background-color: #484848;
        color: white;
        cursor: pointer;
    }

    .signupButton {
        margin-top: 2px;
        margin-left: 15px;
        background-color: white;
        border: none;
        text-align: center;
        display: inline-block; 
        text-decoration: none;
        font-size: 15px;
        transition-duration: 0.3s;
    }

    .close {
        color: #484848;
        font-size: 1.3rem;
        text-decoration: none;
        padding-top: 20px;
        padding-right: 30px;
        transition-duration: 0.3s;
    }    
    
    .close:hover, .forgetPassword:hover, .signupButton:hover {
        color: #23A2C5;
        cursor: pointer;
    }
}

.blurBackground {
    z-index: 4;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(6px);
}
    