@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: sukhumvit;
  src: url(../../../font/SukhumvitSet-Medium.ttf);
}
.mainnav {
  * {
    text-decoration: none;
  }
  position: sticky;
  width: 100vw;
  padding: 1.5rem 6rem;
  padding-bottom: 0rem;
  display: flex;
  list-style-type: none;
  background-color: white;
  .logo {
    flex: 2;
  }
  .primary-nav {
    flex: 3;
    align-self: center;
    ul {
      display: flex;
      li {
        line-height: 1.1em;
        flex: auto;
        .eng-nav {
          color: #505050;
          font-size: 1.2em;
        }
        .thai-nav {
          font-size: 0.75rem;
          color: #b2b2b2;
        }
      }
    }
  }
  .register-nav {
    flex: 2;
    align-self: flex-end;
    text-align: right;
  }
}
