@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: sukhumvit;
  src: url(../../../font/SukhumvitSet-Medium.ttf);
}
.mainnav {
  * {
    text-decoration: none;
  }
  position: sticky;
  width: 100%;
  padding: 1.5rem 6rem;
  padding-bottom: 0rem;
  display: flex;
  list-style-type: none;
  background-color: white;

  // Logo
  .logo {
    flex: 2;
    a {
      font-family: "Epilogue", sans-serif;
      text-decoration: none;
      color: #707070;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  // Center Navbar
  .primary-nav {
    flex: 3;
    align-self: center;
    ul {
      display: flex;
      li {
        line-height: 1.1em;
        flex: auto;
        .eng-nav {
          padding-right: 1.5rem;
          color: #505050;
          font-size: 1rem;
          font-weight: bolder;
        }
        .thai-nav {
          margin-left: 0.15em;
          font-weight: lighter;
          font-size: 0.75rem;
          color: #b2b2b2;
        }
      }
    }
  }

  // Right Navbar
  .register-nav {
    justify-self: center;
    align-self: center;
    .container {
      padding: 0.3em 1em;
      display: inline-flex;
      column-gap: 2rem;
      background: linear-gradient(
        131deg,
        rgba(166, 158, 255, 1) 0%,
        rgba(116, 153, 255, 1) 100%
      );
      border-radius: 3rem;
      a {
        font-size: 0.8rem;
        color: white;
      }
    }
    flex: 2;
    align-self: flex-end;
    text-align: right;
  }
}
