@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: sukhumvit;
  src: url(../../font/SukhumvitSet-Medium.ttf);
}

@-webkit-keyframes itemEnter {
  from {
    -webkit-transform: translateY(40%) scale(0.94);
            transform: translateY(40%) scale(0.94);
    opacity: 0.6;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes itemEnter {
  from {
    -webkit-transform: translateY(40%) scale(0.94);
            transform: translateY(40%) scale(0.94);
    opacity: 0.6;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

body.active-SignupPopup,
body.active-LoginPopup {
  overflow-y: hidden;
}

.navbar {
  z-index: 3;
  padding-top: 1rem;
  width: 100%;
  min-height: 7vh;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #effbff;
}

.logo li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo li a {
  font-family: "Epilogue", sans-serif;
  text-decoration: none;
  color: #707070;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1.4rem 0rem 0rem 4.3rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.navigation li {
  list-style: none;
  margin: -3.7rem 1.5vw 0.4rem 1.5vw;
}

.navigation li a {
  position: relative;
  font-family: "Epilogue", sans-serif;
  text-decoration: none;
  color: #505050;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  padding: 0.2rem;
  border-radius: 5px;
}

.navigation li a:hover {
  color: #000000;
}

.Subnavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.Subnavigation li {
  list-style: none;
  margin: -2.8rem 1.5vw 0.1rem 1.5vw;
}

.Subnavigation li a {
  font-family: "sukhumvit", sans-serif;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 0.7rem;
  font-weight: 500;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  padding: 0.1rem;
  border-radius: 5px;
}

.Subnavigation li a:hover {
  color: #363636;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.register li {
  margin: -3.3rem 1.9rem 0.4rem 3.4rem;
  list-style: none;
  background: #a69eff;
  background: linear-gradient(131deg, #a69eff 0%, #7499ff 100%);
  -webkit-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  width: 8.5rem;
  height: 1.8rem;
  padding: auto;
}

.register li .Signup,
.register li .Login {
  margin: 0 auto;
  margin-left: 0.2rem;
  font-family: "Epilogue", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 400;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  padding: 0.7rem;
  border-radius: 5px;
}

.register li .Signup:hover,
.register li .Login:hover {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.register li .Signup:nth-child(1),
.register li .Login:nth-child(1) {
  margin-left: 0.6rem;
}

.signup {
  height: 100vh;
}

.signup .box2 {
  z-index: 4;
  background-color: #effbff;
  width: 555px;
  height: 530px;
  border-radius: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 15px #c1c1c1;
          box-shadow: 0px 0px 15px #c1c1c1;
}

.signup .close {
  text-decoration: none;
  color: #707070;
  font-size: 1.3rem;
  font-weight: 400;
  position: fixed;
  right: 3rem;
  top: 2rem;
}

.signup .bseven {
  margin-top: 2.7rem;
  font-weight: 800;
  font-size: 2.7rem;
  color: #135667;
}

.signup .afterBseven {
  margin-top: 1.5rem;
  margin-left: 5rem;
}

.signup .topic {
  font-size: 1rem;
  font-weight: 500;
  color: #135667;
}

.signup input::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-weight: 500;
  color: #135667;
  height: -webkit-fit-content;
  height: fit-content;
}

.signup .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup input {
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

.signup .borderless2 {
  background-color: #effbff;
  width: 320px;
  padding-top: 2px;
  padding-left: 15px;
  border: none;
}

.signup input:focus {
  outline: none;
}

.signup .line {
  margin-bottom: 1rem;
  padding: 2px;
  width: 380px;
  border-bottom: 1px solid #a3a2a2;
}

.signup .Icon {
  padding-left: 15px;
}

.signup .signupButton {
  padding: 8px 13px;
  background-color: #135667;
  -webkit-box-shadow: 0px 2px 5px #707070;
          box-shadow: 0px 2px 5px #707070;
  border: none;
  color: white;
  width: 95px;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  font-size: 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.signup .close:hover {
  color: #002b36;
  cursor: pointer;
}

.signup .signupButton:hover {
  background-color: #707070;
  color: white;
  cursor: pointer;
}

.signup .button {
  width: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.blurBackground2 {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.containerr {
  z-index: 4;
  position: fixed;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  width: 840px;
  height: 450px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 15px #c1c1c1;
          box-shadow: 0px 0px 15px #c1c1c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerr input::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-weight: 500;
  color: #c1c1c1;
}

.containerr input {
  font-size: 0.9rem;
  color: #484848;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.containerr .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerr input:focus {
  outline: none;
}

.containerr .afterB74 {
  padding-left: 50px;
}

.containerr .login {
  margin: 10px;
  width: 481.67px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerr .image {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 450px;
}

.containerr .B74 {
  font-weight: 650;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.5rem;
  color: #707070;
}

.containerr .topic {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #707070;
}

.containerr .line {
  padding: 2px;
  width: 350px;
  border-bottom: 1px solid #a3a2a2;
}

.containerr .forgetPassword {
  font-size: 0.85rem;
  margin-top: 5px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.containerr .borderless {
  width: 300px;
  padding-left: 10px;
  border: none;
}

.containerr .emailIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7px;
  margin-top: 3px;
  width: 24.1px;
  height: 13.68px;
}

.containerr .passwordIcon {
  padding-left: 7px;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20.98px;
  height: 14.23px;
}

.containerr .buttonLevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 350px;
  padding-top: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerr .loginButton {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: #23a2c5;
  color: white;
  width: 85px;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  -webkit-box-shadow: 0px 2px 5px #707070;
          box-shadow: 0px 2px 5px #707070;
  font-size: 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.containerr .loginButton:hover {
  background-color: #484848;
  color: white;
  cursor: pointer;
}

.containerr .signupButton {
  margin-top: 2px;
  margin-left: 15px;
  background-color: white;
  border: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.containerr .close {
  color: #484848;
  font-size: 1.3rem;
  text-decoration: none;
  padding-top: 20px;
  padding-right: 30px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.containerr .close:hover,
.containerr .forgetPassword:hover,
.containerr .signupButton:hover {
  color: #23a2c5;
  cursor: pointer;
}

.blurBackground {
  z-index: 4;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
/*# sourceMappingURL=navbar.css.map */