@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: sukhumvit;
  src: url(../../font/SukhumvitSet-Medium.ttf);
}
@keyframes itemEnter {
  from {
    transform: translateY(40%) scale(0.94);
    opacity: 0.6;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  min-height: 7vh;
  top: 0;
  position: fixed;
  box-sizing: border-box;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.7s ease-in;
}
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(239, 251, 255);
}
.logo li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  a {
    font-family: "Epilogue", sans-serif;
    text-decoration: none;
    color: #707070;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1.4rem 0rem 0rem 4.3rem;
  }
}
.navigation {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  li {
    list-style: none;
    margin: -3.7rem 1.5vw 0.4rem 1.5vw;
    a {
      position: relative;
      font-family: "Epilogue", sans-serif;
      text-decoration: none;
      color: #505050;
      font-size: 1rem;
      font-weight: 500;
      transition: all 0.7s ease-in;
      padding: 0.2rem;
      border-radius: 5px;
    }
    a:hover {
      color: #000000;
    }
  }
}

.Subnavigation {
  display: flex;
  justify-content: center;
  margin: 0;
  li {
    list-style: none;
    margin: -2.8rem 1.5vw 0.1rem 1.5vw;
    a {
      font-family: "sukhumvit", sans-serif;
      text-decoration: none;
      color: #b2b2b2;
      font-size: 0.7rem;
      font-weight: 500;
      transition: all 0.7s ease-in;
      padding: 0.1rem;
      border-radius: 5px;
    }
    a:hover {
      color: #363636;
    }
  }
}

.register {
  display: flex;
  justify-content: flex-end;
  li {
    margin: -3.3rem 1.9rem 0.4rem 3.4rem;
    list-style: none;
    background: rgb(166, 158, 255);
    background: linear-gradient(
      131deg,
      rgba(166, 158, 255, 1) 0%,
      rgba(116, 153, 255, 1) 100%
    );
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    width: 8.5rem;
    height: 1.8rem;
    padding: auto;
    a {
      margin:0 auto;
      margin-left: .2rem;
      font-family: "Epilogue", sans-serif;
      text-decoration: none;
      color: #ffffff;
      font-size: 0.7rem;
      font-weight: 400;
      transition: all 0.7s ease-in;
      padding: 0.7rem;
      border-radius: 5px;
      &:hover {
        text-decoration: underline;
        font-weight: 500;
      }
      &:nth-child(1) {
        margin-left: .6rem;
      }
    }
  }
}
