@charset "UTF-8";
.mediaViewInfo {
  --web-view-name: reversation – 1;
  --web-view-id: reversation__1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: reversation__1;
}

#reversation {
  background-image: url(../../../img//picture/history-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
}

#reversation .container {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 4rem;
  padding-top: 3rem;
  border-radius: 5rem;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#reversation .container .head-cta {
  position: absolute;
  top: -4rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

#reversation .container .head-cta .reservation-cta {
  padding: 1.5rem 4rem;
  padding-bottom: 10rem;
  background-color: white;
  border-radius: 2rem 2rem 0rem 0rem;
  z-index: 2;
  font-weight: bold;
}

#reversation .container .head-cta .history-cta {
  padding: 1.5rem 4rem;
  padding-left: 5rem;
  background-color: #4074a4;
  border-radius: 0rem 2rem 0rem 0rem;
  z-index: 1;
  position: relative;
  right: 2rem;
}

#reversation .container .head-cta .history-cta a {
  text-decoration: none;
  color: white;
}

#reversation .container .processes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#reversation .container .processes .THICC-line {
  height: 1rem;
  width: 8rem;
  background-color: #99bbe8;
  bottom: 1.2rem;
  position: relative;
}

#reversation .container .processes .THICC-line .normal-line {
  height: 0.2rem;
  width: 8rem;
  background-color: #99bbe8;
  top: -7px;
  position: absolute;
}

#reversation .container .processes .process {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 2rem;
  background: #acd5ec;
  color: #464e78;
  font-weight: bold;
  text-align: center;
  position: relative;
}

#reversation .container .processes .process h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#reversation .container .processes .process p {
  width: 5rem;
  font-size: 0.7rem;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #a1c7db;
}

#reversation .container .processes .current-status {
  background-color: #464e78;
  color: #cee5f1;
}

#reversation .container .processes .current-status p {
  color: #464e78;
}

#reversation .container .another-normal-line-container {
  margin-top: 2.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reversation .container .another-normal-line-container .another-normal-line {
  height: 0.2rem;
  width: 16rem;
  vertical-align: middle;
  position: absolute;
  background-color: #99bbe8;
}

#reversation .container .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reversation .container .detail .trip-info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-top: 2rem;
}

#reversation .container .detail .trip-info li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  font-size: 1rem;
}

#reversation .container .detail .trip-info li h4 {
  font-size: 1.2em;
  color: #464e78;
  font-weight: bold;
}

#reversation .container .detail .trip-info li p {
  color: #464e78;
}

#reversation .container .detail .img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
  margin-top: 3rem;
}

#reversation .container .detail .img-container img {
  height: 8rem;
  -webkit-clip-path: circle(4rem);
          clip-path: circle(4rem);
  margin: auto;
}

#reversation .container .cancle-cta {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  text-decoration: none;
}

#reversation .container .cancle-cta a {
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  background-color: #dd9fdf;
  border-radius: 2em;
}
/*# sourceMappingURL=pagereserve.css.map */