.res3 {
  display: flex;
  flex-direction: column;
  
  .statusIcon {
    width: 28rem;
    margin: auto;
    margin-top: 0.8rem;
  }
  .container {
    // container-------------------------------------
    width: 42rem;
    height: 28rem;
    margin: 2.5rem auto;
    padding: 1.5rem;
    border: 1px solid rgb(128, 128, 128);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    position: relative;
    .grid-container {
      display: grid;
      grid-template-areas:
        "tripInfo tripInfo tripInfo driverInfo driverInfo"
        "userInfo userInfo userInfo driverInfo driverInfo";
    }
    .trip-info {
      grid-area: tripInfo;
    }
    .customer-info {
      grid-area: userInfo;
    }
    .driver-info {
      grid-area: driverInfo;
    }

    // general-------------------------------------
    h1 {
      font-size: 2rem;
      font-family: "Epilogue";
      color: #565656;
    }
    h3 {
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    // Other-----------------------------------------
    .list {
      display: block;

      ul {
        margin-bottom: 0.2rem;
        font-size: 12px;
        list-style: none;
        width: 19rem;
        display: flex;

        .reciept-data {
          margin-left: 2rem;
          padding: 0.1em 1rem;
          text-indent: 1em;
          font-size: 11px;
          border-radius: 10px;
          background-color: #ebebeb;
          align-self: stretch;
          flex-grow: 1;
        }
      }
    }

    .driver-info {
      color: gray;
      font-size: 11px;
      vertical-align: center;
      margin: 1.5rem auto;
      .userImage {
        width: 7rem;
        height: 10rem;
        padding: white;
        right: 5rem;
        border: solid lightgray;
      }
      .driver-contact-container {
        margin: 0rem auto;
        list-style: none;
        vertical-align: center;
        border: 1px solid gray;
        border-radius: 10px;
        display: inline-flex;
        padding: 0.3em 1em;
        flex-direction: column;
        flex-wrap: wrap;
        li {
          display: inline-flex;
          img {
            width: 1em;
            margin-right: 0.25rem;
          }
        }
        .line-id {
          margin-left: 1rem;
        }
      }
    }

    .btn-container {
      display: flex;
      width: 100%;
      justify-content: center;
      .btn {
        margin-top: 2rem;
        font-size: 0.9rem;
        border-radius: 1.5rem;
        text-decoration: none;
        width: 4.7rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2px;
        box-shadow: 0px 0px 10px 0px #707070;
      }
      .back-cta {
        color: white;
        background-color: #5895f1;
      }
      .back-cta:hover {
        background-color:#4fd601;
        transition: all ease 0.7S;
      }
      .confirm-cta {
        margin-left: 2.5rem;
        color: white;
        background-color: #707070;
      }
      .confirm-cta:hover {
        margin-left: 2.5rem;
        background-color: #ff4b04;
        transition: all ease 0.7S;
      }
    }
  }
}
