.res3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.res3 .statusIcon {
  width: 28rem;
  margin: auto;
  margin-top: 0.8rem;
}

.res3 .container {
  width: 42rem;
  height: 28rem;
  margin: 2.5rem auto;
  padding: 1.5rem;
  border: 1px solid gray;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  position: relative;
}

.res3 .container .grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tripInfo tripInfo tripInfo driverInfo driverInfo" "userInfo userInfo userInfo driverInfo driverInfo";
}

.res3 .container .trip-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tripInfo;
}

.res3 .container .customer-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: userInfo;
}

.res3 .container .driver-info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: driverInfo;
}

.res3 .container h1 {
  font-size: 2rem;
  font-family: "Epilogue";
  color: #565656;
}

.res3 .container h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.res3 .container .list {
  display: block;
}

.res3 .container .list ul {
  margin-bottom: 0.2rem;
  font-size: 12px;
  list-style: none;
  width: 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.res3 .container .list ul .reciept-data {
  margin-left: 2rem;
  padding: 0.1em 1rem;
  text-indent: 1em;
  font-size: 11px;
  border-radius: 10px;
  background-color: #ebebeb;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.res3 .container .driver-info {
  color: gray;
  font-size: 11px;
  vertical-align: center;
  margin: 1.5rem auto;
}

.res3 .container .driver-info .userImage {
  width: 7rem;
  height: 10rem;
  padding: white;
  right: 5rem;
  border: solid lightgray;
}

.res3 .container .driver-info .driver-contact-container {
  margin: 0rem auto;
  list-style: none;
  vertical-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.3em 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.res3 .container .driver-info .driver-contact-container li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.res3 .container .driver-info .driver-contact-container li img {
  width: 1em;
  margin-right: 0.25rem;
}

.res3 .container .driver-info .driver-contact-container .line-id {
  margin-left: 1rem;
}

.res3 .container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.res3 .container .btn-container .btn {
  margin-top: 2rem;
  font-size: 0.9rem;
  border-radius: 1.5rem;
  text-decoration: none;
  width: 5.3rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  -webkit-box-shadow: 0px 0px 10px 0px #707070;
          box-shadow: 0px 0px 10px 0px #707070;
}

.res3 .container .btn-container .back-cta {
  color: white;
  background-color: #5895f1;
}

.res3 .container .btn-container .back-cta:hover {
  background-color: #4fd601;
  -webkit-transition: all ease 0.7S;
  transition: all ease 0.7S;
}

.res3 .container .btn-container .confirm-cta {
  margin-left: 2.5rem;
  color: white;
  background-color: #707070;
}

.res3 .container .btn-container .confirm-cta:hover {
  margin-left: 2.5rem;
  background-color: #ff4b04;
  -webkit-transition: all ease 0.7S;
  transition: all ease 0.7S;
}
/*# sourceMappingURL=Res3.css.map */