@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: sukhumvit;
  src: url(./../../font/SukhumvitSet-Medium.ttf);
}
main, html{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFCFA;
}
.Headtext-warpper {
  font-family: epilogue,sans-serif;
  font-size: 2rem;
  position: absolute;
  top: .7vh;
  left: 23vw;
  align-items: left;  
  font-weight: 700;
  color: #565656;
}
.box-content {
  width: 4%;
  height: 1%;
  position: absolute;
  margin-top: 4.4rem;
  margin-right:21vw;
  background-color:#E4E4E4;
  border-radius: 5px;
}
.box {
  width: 70%;
  height: 70%;
  margin-top: 8vh;
  margin-left:12vw;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #707070;
  position: absolute;
  
}
form {
  margin-top: 4rem;
  flex-direction: column;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: auto;
  z-index: 1;
  }
  label {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2.1vh 0 0 1.9vh;
    p {
      font-family: sukhumvit;
      font-size: 1rem;
      font-weight: 500;
      color: #505050;
      margin: -0.4rem 0rem 0rem 2.7vh;
      position: absolute;
      z-index: 2; 
    }
    .subtext {
      font-family: sukhumvit;
      font-size: 1.2rem;
      color: #505050;
      margin: 1.8rem 0rem 0rem 7.4vh;
      position: absolute;
      z-index: 2; 
      font-weight: 300;
    }

    input {
      display: flex;
      padding: .5rem .8rem .5rem .8rem;
      margin: 1.9vh 0 0 1.9vh;
      border: 0px;
      color: #1b1b1b;
      border-bottom: 1.25px solid #3b3b3b;
      font-size: 0.8rem;
      z-index: 1;
    }
    input:hover {
      background-color: rgb(250, 253, 255);
    }
    input:focus {
      background-color: rgb(243, 243, 243);
      border: 1.5px solid #186edf;
      border-radius: 5px;
    }
    textarea{
      font-family: sukhumvit;
      margin: 1.9vh 0 0 1.9vh;
      height: 15vh;
      width: 15vw;
      padding: .7rem 1rem .7rem 1rem;
      resize: none;
      border-radius: 14px;
    }
  }
  .text {
      margin: 3.9vh;
    }
  button {
    background-color: #008cff;
    border : none;
    display: flex;
    justify-content: flex-start;
    border-radius: 26px;
    box-shadow: 0.1px 5px 15px 0px hsl(207, 100%, 65%);
    color: #FFFFFF;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 0 auto;
    &:hover {
      background-color: #2e3592;
    }
    &:active {
      background-color: #172d69;
    }
    
  }
  .numberpass {
    display: flex;
    padding: .5rem .4rem .5rem .4rem;
    width: 1vw;
    margin: 1.9vh 0 0 3.4vh;
    border: 0px;
    color: #1b1b1b;
    border: 1.25px solid #6e6e6e;
    font-size: 0.8rem;
    border-radius: 7px;
    z-index: 1;
    transform: all 0.2s ease-in-out;
    &:hover {
    background-color: rgb(250, 253, 255);
    }
    &:active {
    background-color: rgb(204, 204, 204);
    border-bottom: 1.25px solid #186edf;
    outline: none;
    }
  }
} 
